@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif; /* Cambio a la fuente Montserrat */
    background-color: #1B1B1B; /* Cambio de color de fondo */
    color: #FFFFFF; /* Cambio de color de texto a blanco */
    padding: 20px;
}