@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif; /* Cambio a la fuente Montserrat */
    background-color: #1B1B1B; /* Cambio de color de fondo */
    color: #FFFFFF; /* Cambio de color de texto a blanco */
    padding: 20px;
}

h1, h2 {
    text-align: center;
    color: #FFCF2C; /* Cambio de color de título a amarillo */
}

#product-list {
    display: flex; /* Cambio a flexbox */
    flex-wrap: wrap; /* Envolver productos en varias filas */
    justify-content: center; /* Centrar productos horizontalmente */
    gap: 20px; /* Espacio entre productos */
}

.product {
    flex: 0 0 calc(25% - 20px); /* Tamaño de cada producto (25% - espacio entre productos) */
    margin: 10px; /* Margen para espaciar los productos */
    padding: 20px;
    background-color: #3E3E3E;
    border-radius: 10px; /* Aumento del radio de borde */
    box-shadow: 0 0 10px rgba(0,0,0,0.3); /* Sombra más pronunciada */
    text-align: center;
}